---
import type { PressableProps } from '../../types/pressable';
import Pressable from './pressable.astro';

type Props = PressableProps & astroHTML.JSX.AnchorHTMLAttributes;

const { icon, left, size, theme, iconAnimation, ...rest } = Astro.props;
---

<a {...rest}>
	<Pressable icon={icon} left={left} size={size} theme={theme} iconAnimation={iconAnimation}>
		<slot />
	</Pressable>
</a>
