---
import type { ImageMetadata } from 'astro';
import { Image } from 'astro:assets';
import clsx from 'clsx';

interface Props extends astroHTML.JSX.LiHTMLAttributes {
	title: string;
	description: string;
	image: { src: ImageMetadata; alt: string };
	category: string;
	readDurationMinutes: number;
}

const { title, description, image, category, readDurationMinutes, class: className, ...rest } = Astro.props;
---

<li class={clsx('flex', className)} {...rest}>
	<a href="" class="group relative grid grid-cols-[1fr,6fr] overflow-hidden sm:grid-cols-[auto,minmax(0,1fr)]">
		<div class="relative h-full rounded-sm sm:aspect-square">
			<Image
				src={image.src}
				alt={image.alt}
				class="absolute aspect-square h-full object-cover transition-all duration-300 group-hover:scale-[1.1]"
			/>
		</div>
		<div class="z-20 flex flex-col justify-between px-4">
			<span>{title}</span>
			<p class="hidden text-gray-800 sm:block">{description}</p>
			<div class="mt-1 flex items-center space-x-3">
				<span class="self-start rounded-md bg-blue-100 px-3 py-1 text-xs text-blue-600">
					{category}
				</span>
				<span class="text-xs">
					{readDurationMinutes} min read
				</span>
			</div>
		</div>
	</a>
</li>
