---
import type { PressableProps } from '../../types/pressable';
import Pressable from './pressable.astro';

type Props = PressableProps & astroHTML.JSX.ButtonHTMLAttributes;

const { icon, left, size, theme, iconAnimation, ...rest } = Astro.props;
---

<button {...rest}>
	<Pressable left={left} icon={icon} size={size} theme={theme} iconAnimation={iconAnimation}>
		<slot />
	</Pressable>
</button>
