---
import { Image } from 'astro:assets';
import { Marquee, Anchor } from 'components/astro';

import image from 'assets/service-1.jpg';
import { LuArrowRight } from 'react-icons/lu/index.js';

const projects = [
	{
		title: 'SelfieMate',
		client: 'graessler.DIGITAL',
		type: 'iOS App',
		date: 'Oct 20, 2024',
		image,
	},
	{
		title: 'DT Connect',
		client: 'druckluft-technik Chemnitz GmbH',
		type: 'Full-Stack',
		date: 'Oct 20, 2024',
		image,
	},
	{
		title: 'Skymergency',
		client: 'graessler.DIGITAL',
		type: 'iOS & Android App',
		date: 'Oct 20, 2024',
		image,
	},
];
---

<section style={{ transform: 'translate3d(0,0,0)' }} class="flex flex-col bg-white">
	<div class="bg-neutral-100 px-4 pb-16 pt-24 sm:px-12">
		<div class="mx-auto flex w-full max-w-7xl flex-col">
			<span class="max-w-5xl text-3xl font-medium leading-none text-neutral-800 sm:text-5xl">
				<span class="font-bold text-black">Photography</span> is driven by a deep passion for <span
					class="font-bold text-black">capturing life's</span
				> most <span class="font-bold text-black">precious moments</span> with artistry and a touch of magic.
			</span>
		</div>
	</div>

	<Marquee class="bg-black py-7 text-white">
		Apps • Webanwendungen • E-Commerce • Webseiten • Messebau • IoT • PCB Design •
	</Marquee>
	<div class="px-4 pb-16 pt-24 sm:px-12">
		<div class="mx-auto flex w-full max-w-7xl flex-col">
			<div class="flex justify-between">
				<div class="flex max-w-md flex-col">
					<span class="mb-1 text-neutral-600">Previous Work</span>
					<h2 class="text-5xl">Get inspired<br />by my recent journeys</h2>

					<p class="mt-12">
						I care about the work I do and the people I do it with. That's why I show up ready everyday to
						create amazing projects. I'm proud to have worked with really cool people, learning powerful
						insights along the way & gain valuable experience.
						<br /><br />
						<a
							class="cursor-pointer text-blue-600 transition-colors duration-75 hover:text-blue-500 hover:underline"
							>Learn more</a
						> about my process and what tools I use.
					</p>
				</div>
				<div class="flex flex-1"></div>
			</div>

			<ul class="flex flex-col">
				{
					projects.map((project) => (
						<li class="mt-8 flex overflow-hidden rounded-sm">
							<a class="group flex flex-1 cursor-pointer overflow-hidden transition-colors duration-150">
								<article class="flex flex-1 flex-row-reverse sm:flex-row">
									<div class="flex flex-1 flex-col justify-center">
										<div class="flex items-center justify-between">
											<span class="text-xl font-medium transition-colors group-hover:text-blue-600 sm:text-3xl">
												{project.title}
											</span>
											<span class="flex items-center text-xs text-blue-600 sm:hidden">
												<span>Ansehen</span>
												<LuArrowRight size={11} className="ml-1" />
											</span>
										</div>
										<div class="mt-1 flex items-center text-sm sm:text-base">
											<span>{project.client}</span>
											<span class="mx-1 my-1 w-px self-stretch rounded-md bg-neutral-600" />
											<span>{project.type}</span>
										</div>
									</div>
									<div class="relative mr-2 aspect-[2] h-full overflow-hidden rounded-sm sm:mr-0 sm:h-36">
										<Image
											src={image}
											alt=""
											class="absolute h-full w-full object-cover transition duration-150 group-hover:scale-[1.05]"
										/>
									</div>
								</article>
							</a>
						</li>
					))
				}
			</ul>

			<Anchor icon={LuArrowRight} href="/" class="mt-12 self-start" size="lg" theme="primary"
				>View all projects</Anchor
			>
			{
				/*<p class="mb-1 mt-12 inline-block text-neutral-600 sm:items-center">
				
				<span class="mt-1 inline-block sm:mt-0">
					or check out my contributions to the Open-Source ecosystem on my{' '}
				</span><a
					class="inline-flex cursor-pointer items-center text-blue-600 transition-colors hover:text-blue-500 hover:underline"
					><span>GitHub Profile</span><LuArrowUpRight className="ml-1" /></a
				>
			</p>*/
			}
		</div>
	</div>
</section>
