---
import '@fontsource/kanit/400.css';

import '@fontsource/inter/400.css';
import '@fontsource/inter/500.css';
import '@fontsource/inter/600.css';
import '@fontsource/inter/700.css';

import '@fontsource/noticia-text/400.css';
import '@fontsource/noticia-text/700.css';

import { Footer } from 'components/page';

import { stripLocale, getAlternateLangs } from 'utils/i18n';
import { defaultLocale } from 'config/i18n.mjs';

import clsx from 'clsx';

interface Props extends astroHTML.JSX.HtmlHTMLAttributes {
	title: string;
	description?: string;
}

const { title, lang, class: className = 'bg-black', description, ...rest } = Astro.props;

const [baseURL] = stripLocale(Astro.url);

const alternates = getAlternateLangs(baseURL);
const canonicalURL = new URL(baseURL, Astro.site);
---

<!doctype html>
<html lang={lang} class={clsx('flex min-h-screen flex-col scroll-smooth', className)} {...rest}>
	<head>
		<meta charset="UTF-8" />
		{typeof description !== 'undefined' && <meta name="description" content={description} />}
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<link rel="caonical" href={canonicalURL} />
		{alternates.map(([path, lang]) => <link rel="alternate" hreflang={lang} href={new URL(path, Astro.site)} />)}

		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
		<link rel="manifest" href="/site.webmanifest" />
		<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#2563eb" />
		<meta name="msapplication-TileColor" content="#212121" />
		<meta name="theme-color" content="#212121" />

		<link rel="sitemap" href="/sitemap-index.xml" />

		<title>{title}</title>
	</head>

	<script is:inline data-goatcounter="https://simonschwitzky.goatcounter.com/count" async src="//gc.zgo.at/count.js"
	></script>

	<link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet" />
	<script is:inline src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript" async></script>

	{
		/*<script is:inline src="https://unpkg.com/embla-carousel/embla-carousel.umd.js"></script>
	<script is:inline src="https://unpkg.com/embla-carousel-autoplay/embla-carousel-autoplay.umd.js"></script>*/
	}
</html>

<body class="flex flex-1 flex-col">
	<slot />
	<Footer />
</body>
