---
import { Anchor, MastheadStat } from 'components/astro';
import { LuArrowDown } from 'react-icons/lu/index.js';

import { Header } from 'components/page';
import { getLocalizedHREF, getTranslation } from 'utils/i18n';
import { MastheadAnimations } from 'components/react';

const translations = {
	de: {
		heading1: 'Digitale Projekte f체r kleine und',
		heading2: 'mittelst채ndische Unternehmen.',
		text: 'Ihr Partner f체r komplexe IT.',
		yoe: 'Jahre Erfahrung',
		customers: 'Kunden weltweit',
		cta: 'Zusammenarbeiten',
		cta2: 'Arbeiten ansehen',
		openForWork: 'Offen f체r neue Projekte',
	},
	en: {
		heading1: 'Crafting digital experiences for',
		heading2: 'small and medium-sized enterprises.',
		text: 'Your partner for complex projects.',
		yoe: 'Years of experience',
		customers: 'Customers worldwide',
		cta: 'Work together',
		cta2: 'Read about my work',
		openForWork: 'Open for new opportunities',
	},
};

const translation = getTranslation(Astro.currentLocale, translations);

const contactHREF = getLocalizedHREF(Astro.preferredLocale, '/contact');
---

<section id="masthead" class="relative flex flex-col bg-black">
	<Header />
	<div class="z-[2] flex flex-1 flex-col py-16 lg:px-12">
		<div class="mx-auto flex w-full max-w-7xl flex-1 flex-col justify-between lg:flex-row">
			<div class="flex flex-col items-start px-4 sm:px-12 lg:px-0">
				<span class="rounded-xs flex items-center border border-gray-800 bg-neutral-900 px-3 py-1 text-white">
					<span class="h-[6px] w-[6px] rounded-full bg-green-400 ring-1 ring-green-100"></span>
					<span class="ml-2 text-xs text-gray-200">{translation.openForWork}</span>
				</span>
				<h1 class="mt-3 text-xl text-white sm:text-3xl">
					{translation.heading1}<br />{translation.heading2}
				</h1>
				<p class="mt-3 text-sm text-gray-100">{translation.text}</p>
				<div class="mt-5 flex items-center space-x-2 sm:space-x-6">
					<Anchor theme="primary" set:html={translation.cta} href={contactHREF} />
					<Anchor icon={LuArrowDown} iconAnimation="down" set:html={translation.cta2} href="#work" />
				</div>
			</div>

			<div class="mt-12 flex flex-col justify-end text-white lg:ml-12 lg:mt-0">
				<div
					class="relative mt-12 hidden items-center px-4 sm:px-12 lg:mt-3 lg:flex lg:justify-end lg:px-4 lg:pl-4"
				>
					<MastheadStat label={translation.yoe} value="15+" />
					<span class="mx-3 my-2 w-px self-stretch bg-neutral-600"></span>
					<MastheadStat label={translation.customers} value="27" />
				</div>
			</div>
		</div>
	</div>

	<MastheadAnimations client:only />
</section>
