---
import { LuArrowRight } from 'react-icons/lu/index.js';
import { Button } from 'components/astro';
import { getTranslation } from 'utils/i18n';

const translations = {
	en: {
		title: "Let's connect!",
		text: 'Setting up a call takes less than a minute of your time.',
		cta: 'Schedule call',
		or: 'Or',
		alternateCTA: 'leave a message',
		promise: 'and I will get back to you within 24 hours.',
	},
	de: {
		title: 'Gemeinsam vernetzen!',
		text: 'Einen Anruf zu vereinbaren nimmt weniger als einer Minute Ihrer Zeit in Anspruch.',
		cta: 'Anruf vereinbaren',
		or: 'Oder',
		alternateCTA: 'hinterlassen Sie eine Nachricht',
		promise: 'und ich antworte innerhalb von 24 Stunden.',
	},
};

const translation = getTranslation(Astro.currentLocale, translations);
---

<section
	style={{ transform: 'translate3d(0,0,0)' }}
	class="flex flex-col bg-black px-4 pb-16 pt-24 text-white sm:px-12"
>
	<div class="mx-auto flex w-full max-w-7xl flex-col items-start justify-between sm:flex-row sm:items-center">
		<div>
			<h2 class="text-3xl font-medium sm:text-5xl" set:html={translation.title} />
			<p class="mt-1" set:html={translation.text} />
		</div>

		<Button
			size="lg"
			theme="primary"
			icon={LuArrowRight}
			iconAnimation="right"
			class="mt-3 sm:mt-0"
			onclick="Calendly.initPopupWidget({url: 'https://calendly.com/mail-quu9'});return false;"
			set:html={translation.cta}
		/>
	</div>
	<div class="mx-auto mt-5 flex w-full max-w-7xl flex-col">
		<p class="">
			{translation.or}
			<a class="text-blue-400 hover:underline" href="/contact">{' '}{translation.alternateCTA}{' '}</a>{
				translation.promise
			}
		</p>
	</div>
</section>
