---
import { LuArrowRight } from 'react-icons/lu/index.js';

import { Anchor } from 'components/astro';
import { TestimonialSlider } from 'components/react';
import { getLocalizedHREF, getTranslation } from 'utils/i18n';

const translations = {
	en: {
		tagline: "Don't take my word for it:",
		title: 'What other businesses say about me',
		cta: "Let's work together",
	},
	de: { tagline: 'Verlassen Sie sich drauf:', title: 'Was andere über mich sagen', cta: 'Jetzt zusammenarbeiten' },
};

const translation = getTranslation(Astro.currentLocale, translations);

const contactHREF = getLocalizedHREF(Astro.currentLocale, '/contact');
---

<section class="bg-black pb-16 pt-24 text-white">
	<div class="px-4 sm:px-12">
		<div class="mx-auto flex w-full max-w-7xl flex-col">
			<span class="mb-1 text-neutral-200">{translation.tagline}</span>
			<h2 class="mb-12 text-5xl" set:html={translation.title} />
		</div>
	</div>
	<TestimonialSlider client:load currentLocale={Astro.currentLocale} />
	<div class="px-4 sm:px-12">
		<div class="mx-auto flex w-full max-w-7xl flex-col items-start">
			<Anchor
				href={contactHREF}
				size="lg"
				icon={LuArrowRight}
				class="mt-7"
				theme="primary"
				iconAnimation="right"
				set:html={translation.cta}
			/>
		</div>
	</div>
</section>
